<div class="pagination-wrapper">
    <% if (data.displayPageSizeSelector) { %>
    <div class="pagination-filler"></div>
    <% } %>
    <div class="pagination-page-chooser-wrapper">
        <a href="#" class="_pagination-get-previous-page button pagination-previous"><%-data.previousText%></a>
        <input type="number" class="_pagination-current-page" min="1"> /
        <span class="_pagination-total-pages"></span>
        <a href="#" class="_pagination-get-next-page button pagination-next"><%-data.nextText%></a>
        <div class="_pagination-loading pagination-loading loading-spinner show">
            <div class="spinner-icon"></div>
        </div>
    </div>
    <% if (data.displayPageSizeSelector) { %>
    <div class="pagination-page-size-chooser">
        <select class="_pagination-per-page">
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
            <option value="200">200</option>
        </select>
        / page
    </div>
    <% } %>
</div>
